body {
    font-size: 16px;
	background-image: url("images/stars.gif");
	background-repeat: repeat;
    color: black;
}
@font-face {
	font-family: Retro Stereo;
	src: url("fonts/Retro Stereo Wide.ttf")
	
}
@font-face {
	font-family: Anime Ace;
	src: url("fonts/animeace2_reg.ttf")
	
}
.content h1 {
	   text-align: center;
	   font-family: Retro Stereo;
	   font-size: 45px;
	   line-height: 1.3;
}

h2 {
	text-align: center;
	font-family: Anime Ace;
	font-size: 25px;
}

a {
	color: teal;
	
}

.content {
	background-color: white;
	width: 600px;
	padding: 15px;
	margin-right: auto;
	margin-left: auto;
	border: 13px solid;
	border-image: url("images/tigerborder.png") 30 round;
	border-radius: 25px;	
	margin-top: 10px;
}

.content .img {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
